*{
    padding: 0;
    margin: 0;
}
body{
    background-color: grey;
    min-height: 100vh;
}
header{
    background-color: #333;
    color: white;
    padding: 8px 8px;
}
.Logo{
    height: 70px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
ul li a{
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
ul li a:hover{
    background-color:lightslategray;
    border-radius: 5px;
}
.Banner-container{
    background-image: url(./Img/mujer-trabajando-oficina-casa-vector-mesa-computadora-computadora-escritorio-grupo-colegas-equipo-negocios_507816-649.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
}
div h2{
    font-family: Bebas Neue;
    text-align: center;
    color: black;
    display: flex;
    background-color: aliceblue;
    border-color: #333;
    border-radius: 5px;
}
footer{
    background-color: black;
    color: orange;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}